.data-table {
    @apply .w-full;

    & > thead {
        background: rgb(245, 247, 250);
        @apply .border-t;
        @apply .border-b;

        & th {
            @apply .uppercase;
            @apply .text-left;
            @apply .p-4;

            @apply .antialiased;
            font-family: Nunito,system-ui,BlinkMacSystemFont,-apple-system,sans-serif;
            font-size: .70rem;
            color: #7c858e;
            letter-spacing: .05em !important;
            user-select: none;
        }
    }

    & th, & td {
        white-space: nowrap;
        // white-space: pre;
    }

    & > tbody {
        & tr:nth-child(even) {
            background: rgb(245, 247, 250);
        }

        & tr:hover {
            background: #eef1f6;
        }
    }

    & > tbody > tr > td {
        @apply .p-4;
    }
}

.popper {
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    border-right: 1px solid #bacad6;
    border-left: 1px solid #bacad6;
    border-bottom: 1px solid #bacad6;
    border-radius: 1px;
    text-align: left;
    width: 300px;
    padding: 0;
}

.filter-title {
    font-family: Nunito,system-ui,BlinkMacSystemFont,-apple-system,sans-serif;
    font-size: .70rem;
    color: #7c858e;
    letter-spacing: .05em !important;
    user-select: none;
    font-weight: 600;
    background-color: #F5F7FA;
    @apply .p-3;
    @apply .uppercase;
    @apply .antialiased;

    border-top: 1px solid #bacad6;
    border-bottom: 1px solid #bacad6;
}

.filter-body {
    @apply .p-3;

    .filter-input {
        border: 1px solid rgba(60,60,60,.26);
        border-radius: 4px;
        outline: none;
        padding: 7px;
        width: 100%;
    }

    .multiselect__tags {
        box-shadow: none;
    }

    .multiselect__select {
        display: none;
    }

    .multiselect__input {
        background-color: transparent;
    }

    .dropdown-toggle {
        background: #fff;
    }
}

// Spinner
.data-table-container {
    &.is-loading {
        & .data-table-overlay {
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, .8);
        }

        & .data-table-loader {
            position: absolute;
            left: calc(50% - 32px);
            top: calc(50% - 32px);
            transform: translate(-50%,-50%);
        }
    }
}
